<div id="education-loc">
  <h2 class="text-center header">Education</h2>

  <div class="row justify-content-md-center">
    <div class="col-md-8 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">2008 - 2013</div>
        <div class="experience-company">University of California, Los Angeles</div>
        <div class="experience-title">
          B.S. Mathematics Applied Science
          <br>
          Minor in Statistics
        </div>

      </div>
    </div>

    <div class="col-md-6 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">October 2016</div>
        <div class="experience-company">Product Manager Training</div>
        <div class="experience-title">Santa Monica, California</div>

      </div>
    </div>

    <div class="col-md-6 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">November 2014</div>
        <div class="experience-company">Agile/Scrum Training</div>
        <div class="experience-title">Santa Monica, California</div>


      </div>
    </div>

    <div class="col-md-7 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">October 2013</div>
        <div class="experience-company">Demandware Training</div>
        <div class="experience-title">Demandware Certification</div>


      </div>
    </div>


  </div>
</div>
