<div id="experience-loc" class="mt-5">
  <h4 class="text-center header">Experience</h4>
  <div class="row">
    <div class="col-lg-6 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">May 2017 - Present</div>
        <div class="experience-company">ZipRecruiter</div>
        <div class="experience-title">Product Manager</div>

        <div class="experience-description">
          <div>Developed new onboarding opportunities for Job Seekers.</div>
          <div>Designed and built a new messaging platform  to allow candidates to communicate directly with potential employers.</div>
          <div>Increased KPIs for job applicant conversion rate, interview questions completion, and message reply rate.</div>
          <div>Modernized the mobile navigation to be more user friendly and require less clicks for new actions.</div>
          <div>Collected both quantitative and qualitative feedback from users to prioritize next development efforts.</div>
          <div>Performed data analytics/visualizations for KPIs and user conversion funnels using SQL/Mixpanel.</div>
          <div>Tools: SQL/Periscope Data, Mixpanel, Sketch, and Google Adwords</div>
        </div>

      </div>
    </div>

    <div class="col-lg-6 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">April 2014 - April 2017</div>
        <div class="experience-company">Transplant Connect</div>
        <div class="experience-title">Business Analyst/Product Manager</div>

        <div class="experience-description">
          <div>Team Lead for design and roll-out of company's second product vertical.</div>
          <div>Acted as Product Manager; facilitating efforts across several teams, ensuring all roadblocks are quickly addressed, and rolling up status to senior management.</div>
          <div>Managed and lead discovery sessions with stakeholders consisting of surveys and JAD sessions.</div>
          <div>Responsible for creating program artifacts, UX workflows, wireframes, use-cases, etc., through customer sign-off and approval documents.</div>
          <div>Created several automated and reusable tools to generate customer facing release notes by using Jira's REST API with Python.</div>
          <div>Tools/Languages: JIRA, Confluence, Photoshop, ReactJS, SQL, HTML/CSS, Python, and Heroku</div>
        </div>

      </div>
    </div>

    <div class="col-lg-6 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">March 2013 - April 2014</div>
        <div class="experience-company">Guthy|Renker</div>
        <div class="experience-title">Front-end Developer</div>

        <div class="experience-description">
          <div>Lead daily scrum meetings, manage development resource allocations, and updated project scrum boards.</div>
          <div>Created new landing pages, templates, scripts, and proof of concepts for several ecommerce websites as well as built the front-end for getdepend.com's mobile site.</div>
          <div>Managed workload for other developers as well as trained new developers. </div>
          <div>Implemented Javascript pixels in our sites for user tracking with Omniture. </div>
          <div>Tools/Languages: Redmine, HTML/CSS, Javascript/jQuery, and Demandware</div>
        </div>

      </div>
    </div>

    <div class="col-lg-6 p-4">
      <div class="main-area orange-top">

        <div class="experience-date">June 2012 - March 2013</div>
        <div class="experience-company">UCLA Alumni Association</div>
        <div class="experience-title">Programmer/Analyst</div>

        <div class="experience-description">
          <div>Tools/Languages: HTML, CSS, Javascript/jQuery, Coldfusion, and SQL.</div>
        </div>

      </div>

      <div class="main-area orange-top mt-4">

        <div class="experience-date">January 2012 - June 2012</div>
        <div class="experience-company">Aurora Capital Group</div>
        <div class="experience-title">Accounting Clerk</div>

      </div>
    </div>





  </div>
</div>
