<div id="home-loc" class="main-area m-4">

  <div>
    <h2 class="font-weight-bold">Miranda Kapin</h2>
    <h5>Product Manager</h5>
  </div>

  <hr>

  <div class="">
    <div class="row py-1 justify-content-md-center">
      <div class="col-sm-3 col-md-2 col-lg-1 label">Email</div>
      <div class="col-sm-9 col-md-10 col-lg-11 contact">
        <a href="mailto:mirandakapin@gmail.com">mirandakapin@gmail.com</a>
      </div>

    </div>
    <div class="row py-1">
      <div class="col-sm-3 col-md-2 col-lg-1 label">Phone</div>
      <div class="col-sm-9 col-md-10 col-lg-11 contact">
        <a href="tel:1-805-794-0193">805.794.0193</a>
      </div>
    </div>
  </div>

  <hr>

  <div class="py-2">
    Product Manager who loves working with customers and digging into the data to help find new and innovative solutions.
  </div>
</div>
