
<div class="nav-style">

  <div class="row">
    <div class="py-3 px-3 col-sm col-xs-12 nav-main d-flex justify-content-center">
      <span class="cursive name">Miranda Kapin</span>
    </div>

    <div class="col-sm col-xs-12 pull-right full-height">

      <div class="d-flex justify-content-center">
        <div class="px-3 py-2 nav-item active">
          <a id="home" href="#">Home</a>
        </div>
        <div class="px-3 py-2 nav-item">
          <a id="experience" href="#">Experience</a>
        </div>
        <div class="px-3 py-2 nav-item">
          <a id="education" href="#">Education</a>
        </div>
      </div>

    </div>
  </div>


</div>
